 <section id="sect_3">
        <div id="box1_sect3">
            
            <div class="cajon">
                <h1>
                    TIENDA
                </h1>
                <h3>
                    Nuestros productos
                </h3>
                <p>Conoce los productos de Honest Farm by Chef James. <br>
                Productos 100% naturales, <br> libres de químicos y que cambiarán
                 radicalmente <br>el sabor de tus recetas.
                </p>
                <button>
                    Ir a la tienda
                </button>
            </div>
        {{#productos}}
        {{/productos}}
            


        </div>
    
    </section>