 <footer>
       <div>
            <h2><i class="fas fa-location-arrow"></i> Dirección</h2>
        <h3>Av. Inca y Granados, Quito - Ecuador</h3>
        <hr>
        <h2><i class="fas fa-envelope"></i> Email</h2>
            <h3>rconde@chefjames.com</h3>
        <hr>
        <h2><i class="fas fa-phone"></i> Teléfono</h2>
        <h3>+593 5551 22234</h3>
        <hr>
       </div>
        <div id="copy">
                 &copy; Romel Romero
        </div>
    </footer>