 <header>
        <div id="head">
            <div id="titulohead">
                <div>
                    <h1>FOODSCHOOL</h1>
                    <h1></h1>
        <h3>Aprende a cocinar es demaciado fácil y accesible.
            Descubre todo el contenidoexclusivo y cocina como nunca antes.
        </h3>
        <button id="btnhead">
            CONOCER MÁS
        </button>
                </div>
            </div>
        </div>
        
</header>
<script src="../../index.js"></script>