 <section id="sect2">
        <div id="contenedor_sect2">
            <div id="box1_sect2">
                <img src="img/img3.jpg" alt="">
            </div>
            
            <div id="box2_sect2">
                <h1>
                    Foodschool
                </h1>
                <h3>
                    Cursos de cocina
                </h3>
                <p>
                    Todos podemos cocinar y comer increíblemente bien. Con Chef James, aprenderás
                     las técnicas y conocerás las herramientas necesarias para ser un maestro en la cocina.
                      Convertirse en un chef nunca fue tan fácil y tan accesible
                </p>
                <button>
                    Ver mas..
                </button>
            </div>
        </div>

    </section>